* {
    padding: 0px;
    margin: 0px;
}
nav {
    height: auto;
    width: auto;
    background-color: rgba(232, 221, 221, 0.901);
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
a {
    padding: 13px;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 5px;
    color: black;
}

.container {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
form {
    text-align: center;
    margin-top: 30px;
}
button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 7px;
}
p {
    margin-top: 15px;
}

#weight-guide{
    margin-top: 30px;
}
