body {
    background: #000;
}
#center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#show {
    color: white;
}
#clock {
    margin-top: 10px;
    /* width: 100px;
    height: 40px; */
    padding: 25px 60px;
    border: 2px solid black;
    background: orange;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}